
    <!-- 底部
    ================================================== -->
    <div class="footer">
      <div class="container">
          <p>  天津科创天使投资有限公司  地址：天津市南开区科研西路12号  邮编：300192 ‎<br>服务热线：022-87894631；传真：022-87890535；邮箱：tjacco@126.com<br> 津ICP备14000784号-1
		  <!-- <strong> <a href="http://www.zwinsoft.com">智易时代</a></strong> 技术支持 --></p>
      </div>
    </div>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->

<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden">
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5852020'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D5852020%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	</block>
</div>
