
    <!-- 底部
    ================================================== -->
    <div class="footer">
      <div class="container">
          <p>  天津科创天使投资有限公司  地址：天津市南开区科研西路12号  邮编：300192 ‎<br>服务热线：022-87894631；传真：022-87890535；邮箱：tjacco@126.com<br> 津ICP备14000784号-1
		  <!-- 本站由 <strong> <a href="http://www.zwinsoft.com">天津智易时代科技发展有限公司 </a></strong> 提供技术支持  ?--></p>
      </div>
    </div>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->

<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden">

	</block>
</div>
<script language="javascript">
var qqFloatObj={
	color : '#0074cc',//百变由我 颜色自由定义 推荐 #000 #CCC #C30202 #48ff00
	openTitle :"客服中心",//关闭后右侧的浮动提示窗的题目
	closeTitle :"联<br/>系<br/>我<br/>们",//qq浮动窗口的题目
	style:"right:0px; top:150px;position: absolute;",//这里是css定义浮动窗口的位置，顶部距离
	width:"width:168px;",//这里定义浮动窗口的宽度
	qqstyle:7,//貌似1-9这里就是qq在线图片的显示样式
	isOpen:true, //默认展开：true,默认收缩：false
	other:"服务热线<br />022-87894631<br />QQ：2284236934",//这里可以编辑html
	qqlist:"客服QQ：|2284236934" //多个qq用,隔开,QQ和客服名用|隔开
};
</script>
<script src="__STATIC__/js/qqFloatWin1.0.js" type="text/javascript"></script>


