<extend name="Base/common"/>

<block name="header">
    
</block>

<block name="body">
<div class="row mainContent">
	<include file="Public/left"/>
	<div class="span7">
		<fieldset>
				<legend>网站通知</legend>
		
		<table class="table table-bordered table-striped ">
			<tr>
			<td>日期</td>
			<td>标题</td>
			</tr>
			<tr>
			<td>2014-1-12</td>
			<td><a href="#notify1" data-toggle="modal"> 请下载最新项目申报表格！</a>
				<div id="notify1" class="modal hide fade" style="display:none;">
					<div class="modal-header">
				      <a class="close" data-dismiss="modal">×</a>
				      <h3>请下载最新项目申报表格！</h3>
				    </div>
				    <div class="modal-body">
					
					<a href="#" >下载</a>
					</div>
					<div class="modal-footer">
				      <a href="#" class="btn" data-dismiss="modal">关闭</a>
				      
				    </div>
				</div>
			</td>
			</tr>
			<tr>
			<td>2014-1-11</td>
			<td><a href="#notify2" data-toggle="modal">2014年项目申报工作已经开始</a>
				<div id="notify2" class="modal hide fade" style="display:none;">
					<div class="modal-header">
				      <a class="close" data-dismiss="modal">×</a>
				      <h3>2014年项目申报工作已经开始!</h3>
				    </div>
				    <div class="modal-body">
					2014年项目申报工作已经开始2014年项目申报工作已经开始2014年项目申报工作已经开始<br />
				2014年项目申报工作已经开始<br />
				2014年项目申报工作已经开始<br />
				2014年项目申报工作已经开始<br />
				2014年项目申报工作已经开始<br />2014年项目申报工作已经开始<br />
				2014年项目申报工作已经开始<br />
				2014年项目申报工作已经开始<br />
				2014年项目申报工作已经开始<br />
						
					</div>
					<div class="modal-footer">
				      <a href="#" class="btn" data-dismiss="modal">关闭</a>
				      
				    </div>
				</div>
			</td>
			</tr>
			<tr>
			<td>2014-1-10</td>
			<td><a href="#notify3" data-toggle="modal">2013年项目申报工作总结</a>
				<div id="notify3" class="modal hide fade" style="display:none;">
					<div class="modal-header">
				      <a class="close" data-dismiss="modal">×</a>
				      <h3>2013年项目申报工作总结!</h3>
				    </div>
				    <div class="modal-body">
					2013年项目申报工作总结<br />
				2013年项目申报工作总结<br />
				2013年项目申报工作总结<br />
				2013年项目申报工作总结<br />
				2013年项目申报工作总结<br />2013年项目申报工作总结<br />
				2013年项目申报工作总结<br />
				2013年项目申报工作总结<br />
				2013年项目申报工作总结<br />
						
					</div>
					<div class="modal-footer">
				      <a href="#" class="btn" data-dismiss="modal">关闭</a>
				      
				    </div>
				</div>
			</td>
			</tr>
			<tr>
			<td>2014-1-10</td>
			<td><a href="#notify3" data-toggle="modal">项目申报网站工作流</a>
				<div id="notify3" class="modal hide fade" style="display:none;">
					<div class="modal-header">
				      <a class="close" data-dismiss="modal">×</a>
				      <h3>项目申报网站工作流!</h3>
				    </div>
				    <div class="modal-body">
					项目申报网站工作流<br />
				项目申报网站工作流<br />
				项目申报网站工作流<br />
				项目申报网站工作流<br />
				项目申报网站工作流<br />项目申报网站工作流<br />
				项目申报网站工作流<br />
				项目申报网站工作流<br />
				项目申报网站工作流<br />
						
					</div>
					<div class="modal-footer">
				      <a href="#" class="btn" data-dismiss="modal">关闭</a>
				      
				    </div>
				</div>
			</td>
			</tr>
		</table>
		</fieldset>
	</div>
</div>
</block>
